body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #ff8080, #ffc0cb);
}

.container {
  text-align: center;
}

.header {
  margin-bottom: 1em;
}

.header_text {
  font-family: "Nunito", sans-serif;
  font-size: 2.5em;
  color: white;
}

.gif-container {
  margin-bottom: 2em;
}

.buttons {
  display: flex;
  justify-content: center;
}

.btn {
  background-color: #017cff;
  color: white;
  font-weight: 600;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: none;
  border-radius: 12px;
  transition: background-color 0.3s ease;
  box-shadow: 0 3px 3px black;
}

.btn:hover {
  background-color: #ffffff;
  color: #017cff;
}

.no-btn {
  margin-left: 1em;
}

@media (max-width: 500px) {
  .header_text {
    font-size: 2em;
  }

  .no-btn {
    margin-left: 0.5em;
  }
}
